<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="icon" type="image/x-icon" href="title-image.png">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <title>Dental</title>

    <style>

        body {
            font-family: 'Sriracha', cursive;
        }

        .imageBlog {
            width: 346px;
            height: 200px;
            object-fit: fill;
            padding:0;
            margin-left : -10px;
            margin-top:-10px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            margin-bottom:30px;
        }

        .title {
            padding-left : 10px;
            padding-bottom : 10px;
        }

        .title:hover {
            color :rgb(55, 55, 147);
            cursor : pointer;
        }

        .menu {
            color : white;
        }
        .menu:hover {
            color : rgb(192, 190, 190);
            transition : 2s;
            text-decoration: none;
        }

        .blog {
            
            display : grid;
            margin-left : 50px;
            height: fit-content;
            
            display: inline-grid;
            width: 350px;
            
            margin-top : 50px;
            padding:10px;
            border:2px solid rgba(0, 0, 0, 0.434);
            border-radius: 8px;
            justify-self: center;
            align-self: center;
            
                
        }

        .paginationA {
            border : 1px solid black;
            padding:10px;
            border-radius:6px;
            color :rgb(55, 55, 147);
        }

        .paginationA:hover {
            background-color :rgb(55, 55, 147);
            color :white;
            outline:none;
            text-decoration: none;
        }

    </style>

</head>
<body>

    <div class="container-fluid p-3 " style="background-color : rgb(55, 55, 147) ; color : white ;">
        <div class="container " style="margin-left : 4%;">
            <span>
                <div class="font-weight-bold" >
                    <img src="title-image.png" style="width:30px; height : 30px; margin-top:-2%;cursor :pointer" onclick="location.href = '/'">
                    <span style="font-size : 30px;cursor :pointer"  onclick="location.href = '/'">Dental</span> <span style="font-size : 20px;">&nbsp;&nbsp;เพราะสุขภาพปากคือสุขภาพคุณ</span> 
                    <span>&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;</span>
                    
                    <span style="margin-left : 15% ;cursor : pointer">
                        <span class="menu" style="font-size : 20px;margin-right : 25px;"><a href="/booking" class="menu">จองคิว</a></span>
                        <span class="menu" style="font-size : 20px; margin-right : 25px;"><a href="/blog" class="menu">สาระของฟัน</a></span>
                        <span class="menu" style="font-size : 20px; margin-right : 25px;"><a href="/dentist" class="menu">ทันตแพทย์</a></span>
                        <span class="menu" style="font-size : 20px; margin-right : 25px;"><a href="" class="menu">ติดต่อเรา</a></span>
                    </span>
                
                </div>

            </span>
        </div>
        
       
    </div>

    <div style="margin-top:40px; margin-bottom : 120px;">
        <h1 style="position : absolute;left : 50%;transform : translateX(-50%); color :rgb(55, 55, 147);">สาระของฟัน</h1>
    </div>


    <div style="display : flex; flex-wrap : wrap; justify-content: center; flex-basis : 30%;margin-bottom:80px;margin-right:45px;">

       
        <% data.forEach(function(x) { %> 
            <div class="blog ">
                <img class="imageBlog" src='<%= x.image %>' style="cursor : pointer" onclick="location.href = '/blog/<%= x.id%>'"/>
                <h5 class="title" onclick="location.href='/blog/<%= x.id%>'"><%= x.title %></h5>
                <p style="color :rgb(55, 55, 147) ; padding-bottom:30px;padding-left : 10px; cursor: pointer">อ่านต่อ →</p>
            </div>
        <% }); %>
       
    </div>

    <hr style="width:91%;background-color : rgba(0, 0, 0, 0.5)">

    <nav aria-label="Page navigation example">
        <ul class="pagination" style="justify-content : center ; margin-top : 60px;">
          <li class="page-item"><a class="paginationA" href="#">ก่อนหน้า</a></li>
          <li class="page-item"><a class="paginationA" href="#" style="margin-left : 1000px;padding-left : 15px;padding-right : 15px;">ถัดไป</a></li>
        </ul>
    </nav>
    
    <div class="container-fluid p-3 " style="text-align : center;margin-top:150px;background-color : rgb(55, 55, 147) ; color : white ;">

        <span >© 2022 Dental. All Rights Reserved</span>
        <br><br>
        <span >Central World  ชั้น 99</span>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>